<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dreamCatcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCC53D391C3D7E1000A84758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC53D521C3D7E1000A84758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC53D5D1C3D7E1000A84758</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
